<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RuleBaseWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/RuleBaseWS/RuleBaseWS"
                binding="basicHttpBinding" bindingConfiguration="RuleBaseWSPortBinding"
                contract="BankRules.RuleBaseWS" name="RuleBaseWSPort" />
        </client>
    </system.serviceModel>
</configuration>